@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Nunito";
  font-weight: 300;
  background-color: #ebfcf4;
}

::selection {
  background-color: #7672f7;
  color: #dbdaf2;
}

a {
  text-decoration: none;
  color: #bec8f0;
}

a:hover {
  text-decoration-color: #fcd84e;
  color: #fcd84e;
}

input, button, textarea {
  border-radius: 3px;
}

input[incorrectly-filled], textarea[incorrectly-filled] {
  background-color: #fc6268;
}

input, .structured-text textarea {
  background-color: #fafafa;
  border: 0;
  font-size: 14px;
}

input:focus, textarea:focus {
  outline: none;
}

input {
  background-color: #2d2c2e;
  color: #7672f7;
  height: 19px;
  font-size: 15px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

button {
  background-color: #8e7aff;
  color: #282828;
  border: solid 1px #8c78ff;
}

button:active {
  background-color: #fcdc60;
  border-color: #fcdc60;
}

#root {
  display: grid;
  place-items: center;
}

.block {
  background-color: #2d2c2e;
  color: #fffff5;
  position: relative;
  border: solid 2px #7672f7;
  border-radius: 5px;
  text-align: center;
}

#color-selection {
  margin-bottom: 4px;
  width: 295px;
  height: 295px;
}

#color-panel {
  border-bottom: 2px solid #7672f7;
}

#color-panel-configuration {
  display: flex;
  align-items: center;
}

#darkening-factor-selector {
  -webkit-appearance: none;
  overflow: hidden;
  margin-left: 10px;
  width: 188px;
  height: 16px;
  border-radius: 8px;
  background-color: #dbdaf2;
}    

#darkening-factor-selector::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  width: 0px;
  height: 16px;
  box-shadow: -188px 0 0 188px #7672f7;
}

#darkening-factor-view {
  position: absolute;
  right: -1px;
}

#darkening-factor-copy-button {
  position: relative;
  right: 26px;
  top: 1px;
}

#selection-result {
  height: 98px;
  display: flex;
}

#attributes {
  width: 180px;
  text-align: left;
  padding-left: 15px;
  user-select: none;
}

#rgb-field {
  margin-top: 0px;
}

#hex-attribute {
  width: 60px;
  padding-left: 0px;
  margin-left: -3.5px;
}

#hex-sign {
  font-size: 15px;
}

.rgb-attribute, #darkening-factor-mirror {
  width: 25.3px;
}

.rgb-attribute-delimiter {
  margin-left: -1.59px;
}

.copy-buttons {
  position: absolute;
  margin-top: 2px;
}

#hex-copy-button {
  margin-left: -2px;
}

#rgb-copy-button {
  margin-left: 4px;
}

#selected-color {
  background-color: #FFFFFF;
  width: 92px;
  height: 92px;
  margin-left: 4px;
}
